.casual__label-offset {
    bottom: 58px;
}

.casual__icons-container {
    height: var(--base-icon-e-large-size);
    width: var(--base-icon-e-large-size);
    margin: var(--base-margin);
    align-items: center;
    justify-content: center;
}

.casual__empty-center {
    height: var(--base-image-resolution-half);
    width: var(--base-image-resolution-half);
    margin: var(--base-margin);
}
