.frame {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    -unity-background-scale-mode: scale-and-crop;
}

.frame__main-menu {
    background-image: var(--im-main-menu-frame);
    justify-content: space-between;
}

.frame__settings {
    background-image: var(--im-main-menu-frame);
    justify-content: space-between;
}
