.screen-dead-zone__top {
    translate: 0 -100%;
    top: var(--base-screen-dead-zone-offset);
}

.screen-dead-zone__right {
    translate: 100% 0;
    right: var(--base-screen-dead-zone-offset);
}

.screen-dead-zone__bottom {
    translate: 0 100%;
    bottom: var(--base-screen-dead-zone-offset);
}

.screen-dead-zone__left {
    translate: -100% 0;
    left: var(--base-screen-dead-zone-offset);
}
