.toggle {
    flex-direction: row;
}

Toogle {
    margin: 0;
}

Toggle #unity-checkmark {
    background-image: resource('Icons/IC_Toggle-checkbox_Color-green');
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    width: 128px;
    height: 128px;
}

Toggle:checked #unity-checkmark {
    background-image: resource('Icons/IC_Toggle-checkmark_Color-green');
}
